<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>  
    <!-- nav admin -->
    {% include "formatos/navbaradmin.html" %}
    {% block content %}

    <div class="container mt-5">
        <h2 class="form-title">Actualizar Datos del Producto</h2>

        <form id="form-actualizar-producto" class="custom-form">
            
            <!-- ver si el id se genera de manera automatica o se rellena manual y luego tiramos validaciones
            para que sea único e irrepetible -->
            
            <div class="mb-3">
                <label for="idProducto" class="form-label">ID del Producto</label>
                <input type="text" class="form-control" id="idProducto" placeholder="prod-1" required>
                <div class="invalid-feedback">ID no encontrado. Por favor, ingrese un ID válido.</div>
            </div>

            <!-- aqui el admin tiene la opcion de cambiar la imagen si es que quiere  -->
            <div class="mb-3">
                <label for="imagenProducto" class="form-label">Cambiar Imagen del Producto (opcional)</label>
                <br>
                
                <img src="{% static 'media/lecheEntera1Lt.webp' %}" alt="Producto A" class="img-thumbnail">
                <br><br>
                <input type="file" class="form-control" id="imagenProducto" accept="image/*">
            </div>

            <div class="mb-3">
                <label for="nombreProducto" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" id="nombreProducto" placeholder="lecheEntera1Lt" required>
            </div>

            <div class="mb-3">
                <label for="descripcionProducto" class="form-label">Descripción del Producto</label>
                <textarea class="form-control" id="descripcionProducto" placeholder="Producto A" required></textarea>
            </div>

            <div class="mb-3">
                <label for="stockProducto" class="form-label">Stock del producto</label>
                <input type="number" class="form-control" id="stockProducto" min="0" placeholder="10" required>
            </div>

            <div class="mb-3">
                <label for="precioProducto" class="form-label">Precio del producto</label>
                <input type="number" class="form-control" id="precioProducto" min="0" step="0.01" placeholder="100" required>
            </div>

            <div class="mb-3">
                <label for="ivaProducto" class="form-label">IVA del producto (%)</label>
                <input type="number" class="form-control" id="ivaProducto" min="0" step="0.01" placeholder="21%" required>
            </div>

            <div class="mb-3">
                <label for="categoriaProducto" class="form-label">Categoría del producto</label>
                <input type="text" class="form-control" id="categoriaProducto" placeholder="Categoria A" required>
            </div>

            <!-- se supone que aqui voy a tener 2 funciones 1 colocando el id deberia rellenarme los campos con la info de ese id 
            y se quiero modificar algo lo relleno o cambio en los campos  y luego aplico esto, es muy similar a lo que hicimos en la eva2 de IOT (la Fran debe acordarse) -->

            <div class="text-center">
                <button type="button" class="btn btn-custom">Guardar Cambios</button>
            </div>
        </form>
    </div>
    <!-- Footer -->
    {% endblock %}
    {% include "formatos/footeradmin.html"%}
    

    <!-- Scripts -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


