<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <!-- NavBar -->
    {% include "formatos/navbaruser.html" %}
    {% block content %}

    <!-- historial de prueba -->

    <div class="container mt-5 compra-resumen">
        <h2 class="text-center mb-4">Historial de Compras</h2>

        <!-- Button to open the modal -->
        <button type="button" class="btn btn-info btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#manualUsuario">
            <i class="fas fa-info-circle"></i> Manual de Usuario
        </button>
        
        <div class="row">
            <!-- Tarjeta de Compra 1 -->
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Nº de pedido:12345</h5>
                        <span>Fecha para retirar: 24/10/2024</span>
                    </div>
                    <div class="card-body">
                        <h6 class="text-muted">Neto: <span class="total-amount">$6,040</span></h6>
                        <h6 class="text-muted">Total IVA 21%: <span class="total-amount">$1,268</span></h6>
                        <h6 class="text-muted">Total: <span class="total-amount">$7,308</span></h6>
                        <h6 class="text-muted">Estado: <span class="badge badge-success">Retirado</span></h6>
                        
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Leche Entera 1LT</td>
                                        <td>2</td>
                                        <td>$1,300</td>
                                        <td>$2,600</td>
                                    </tr>
                                    <tr>
                                        <td>Pan Ideal 700g</td>
                                        <td>1</td>
                                        <td><p class="precio-original">$4300</p>
                                            <p class="precio-descuento">$3440</p>
                                            <p class="porcentaje-descuento">Descuento del 20%</p></td>
                                        <td>$3,440</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tarjeta de Compra 2 -->
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Nº de pedido:12346</h5>
                        <span>Fecha para retirar: 12/10/2024</span>
                    </div>
                    <div class="card-body">
                        <h6 class="text-muted">Neto: <span class="total-amount">$3,320</span></h6>
                        <h6 class="text-muted">Total IVA 21%: <span class="total-amount">$720</span></h6>
                        <h6 class="text-muted">Total: <span class="total-amount">$4,040</span></h6>
                        <h6 class="text-muted">Estado: <span class="badge badge-success">Pendiente de retiro</span></h6>

                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fanta Retornable 2LT</td>
                                        <td>1</td>

                                        <td>
                                            <p class="precio-original">$1,900</p>
                                            <p class="precio-descuento">$1,520</p>
                                            <p class="porcentaje-descuento">Descuento del 20%</p>
                                        </td>
                                        <td>$1,520</td>
                                    </tr>
                                    <tr>
                                        <td>Galletas de Chocolate 140g</td>
                                        <td>2</td>
                                        <td><p class="precio-original">$1200</p>
                                            <p class="precio-descuento">$900</p>
                                            <p class="porcentaje-descuento">Descuento del 25%</p>
                                        </td>
                                        <td>$1,800</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tarjeta de Compra 3 -->
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Nº de pedido:12347</h5>
                        <span>Fecha para retirar: 01/10/2024</span>
                    </div>
                    <div class="card-body">
                        <h6 class="text-muted">Neto: <span class="total-amount">$6,250</span></h6>
                        <h6 class="text-muted">Total IVA 21%: <span class="total-amount">$1,312</span></h6>
                        <h6 class="text-muted">Total: <span class="total-amount">$7,562</span></h6>
                        <h6 class="text-muted">Estado: <span class="badge badge-success">Pendiente de retiro</span></h6>

                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Yogurt Frutilla Soprole 1L</td>
                                        <td>2</td>
                                        <td>$2,000</td>
                                        <td>$4,000</td>
                                    </tr>
                                    <tr>
                                        <td>Gatorade Cool Blue 1LT</td>
                                        <td>1</td>
                                        <td><p class="precio-original">$2500</p>
                                            <p class="precio-descuento">$2250</p>
                                            <p class="porcentaje-descuento">Descuento del 10%</p>
                                        </td>
                                        <td>$2250</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Manual de Usuario -->
    <div class="modal fade" id="manualUsuario" tabindex="-1" aria-labelledby="manualUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="manualUsuarioLabel">Manual de Usuario - Historial de Compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                
                <!-- Cuerpo del Modal -->
                <div class="modal-body">
                    <p><strong>Visualización del historial:</strong> El historial muestra una lista de compras con detalles como número de pedido, fecha de retiro (cuando usted debe retirar el pedido), estado, y desglose de productos.</p>
                    <p><strong>Detalles de cada compra:</strong> Dentro de cada tarjeta de compra, puede ver los productos adquiridos, las cantidades, precios unitarios, descuentos aplicados y el total final.</p>
                    <p><strong>Estados:</strong> Los pedidos tienen estados como "Retirado" o "Pendiente de retiro" para indicar su situación.</p>
                </div>
                
                <!-- Pie del Modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% endblock %}
    {% include "formatos/footeruser.html"%}

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
